* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-wrapper {
  width: 40rem;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.redirect {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
}

.redirect-link {
  text-decoration: none;
}

.button {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 16rem;
  padding: 1rem 0;
  border: 0.1rem solid #8189a9;
  background-color: #f9f9f9;
  text-align: center;
  cursor: pointer;
}
